<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
            <h1>Software & Web development</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Node</em> &amp; <em>Git</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>HTML5/CSS3</em> &amp; <em>Javascript</em>
        </p>

        <p>
          <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>MySql</em>, <em>PL-SQL</em> &amp; <em>MongoDB</em>
        </p>

        <p>
          <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>C#/.net</em>
        </p>

    </article>
    <article>

      <header>
        <h1>Frameworks</h1>
      </header>

      <p>
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
        &nbsp;&nbsp;<em>React</em>, <em>Redux</em>, <em>Axios</em>
      </p>
      <p>
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"><i class="fa fa-star-o"></i></i>
        &nbsp;&nbsp;<em>Express</em>, <em>Mongoose</em>
      </p>
      <p>
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
        &nbsp;&nbsp;<em>Deployment to AWS</em> &amp; <em>Heroku</em>
      </p>
    </article>

    <article>
        <header>
            <h1>Game development</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>UNITY</em>, <em>C#</em>
        </p>

    </article>
</section>
